@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body,html{
	font:12px "微软雅黑",Arail;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;			
	font-size:100%;
}
i,em{
	font-style:normal;			
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#000;
}
img{
	border:0;
	vertical-align:top;
}
input{
	outline:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;
}

